<div class="hero-unit">
  <h1>Hello, Rails!</h1>
  <br/>
  <p>This is a clone of the popular news sharing site Reddit I built from scratch with Tealeaf Academy Rapid Prototyping with Ruby on Rails course, demonstrating:</p>

  <br/>
  <ul>
  <strong>CODE LIKE A REAL DEVELOPER</strong>
  <li>Learn to use the terminal, rails console, and code editor</li>
  <li>Use Git and Github for code versioning</li>
  <li>Learn to debug using pry, server logs and reading stack traces</li>
  </ul>

  <ul>
  <strong>UNDERSTAND "THE RAILS WAY" PHILOSOPHY</strong>
  <li>Convention over configuration</li>
  <li>Don't repeat yourself</li>
  <li>Dissecting a Rails application</li>
  <li>Overview of the main Rails components: routes, controller, ActiveRecord, view templates</li>
  <li>MVC</li>
  <li>REST</li>
  </ul>

  <ul>
  <strong>MODELING</strong>
  <li>Database concepts: relational database, data modeling, associations</li>
  <li>Migrations for database schema changes</li>
  <li>Active Record</li>
  <li>Associations in Rails: has_many, belongs_to</li>
  <li>Advanced Associations: polymorphic</li>
  <li>Advanced Active Record: Arel, querying the database</li>
  <li>Skinny controllers; fat models</li>
  </ul>

  <ul>
  <strong>FORMS</strong>
  <li>Rails form methods: model backed forms vs form tag helpers</li>
  <li>HTTP in Rails forms</li>
  <li>Parameter passing</li>
  <li>REST, resources and forms</li>
  <li>Validations</li>
  <li>Render vs redirect</li>
  <li>Strong parameters vs attr_accessible (Rails 4 topic)</li>
  </ul>

  <ul>
  <strong>ADVANCED TOPICS</strong>
  <li>Nested resources: building compelx URLs</li>
  <li>Slugs: pretty URLs for SEO and bookmarking</li>
  <li>Helpers</li>
  <li>Partials</li>
  <li>Authentication and sessions: register a new user, login, logout</li>
  <li>Deploying your application to Heroku</li>
  <li>Building and consuming APIs</li>
  <li>Ajax in Rails</li>
  <li>Adding time zones</li>
  <li>Use modules to extract common logic</li>
  <li>Creating and publishing a gem</li>
  <li>2-factor authentication with Twilio</li>
  </ul>

</div>